<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <title>Programming Languages</title>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link href="/static/css/stylesheet.css" rel="stylesheet" />
	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
	
	<script>
	    var counter = 1;
	    var limit = 3;
	    function addInput(divName){
		if (counter == limit)  {
		    alert("You have reached the limit of adding " + counter + " inputs");
		}
		else {
		    var newdiv = document.createElement('div');
		    newdiv.innerHTML = "Entry " + (counter + 1) + " <br><input type='text' name='myInputs[]'>";
		    document.getElementById(divName).appendChild(newdiv);
		    counter++;
		}
	    }
	</script>
    
    </head>
<body>

<div id="wrapper">

<!-- Sidebar -->
   <div id="sidebar-wrapper">
       <nav id="spy">
           <ul class="sidebar-nav nav">
               <br/><br/>
               <li>
                   <a href="/home/" data-scroll>
                       <span class="fa fa-anchor solo">Home</span>
                   </a>
               </li>
               <li>
                   <a href="/learn/" data-scroll>
                       <span class="fa fa-anchor solo">Learn a New Language</span>
                   </a>
               </li>
               <li>
                   <a href="/account/" data-scroll>
                       <span class="fa fa-user solo">Account Information</span>
                   </a>
               </li>
		<li id="primary_nav_wrap" id="wrap">
                   <a href="/definitions/" data-scroll>
                       <span class="fa fa-user solo">Definitions</span>
                   </a>
               </li>
	       <li >
		    <a href= "/auth/logout/" data-scroll>
			<span class = 'fa fa-user solo'> Logout {{user}}</span>
		    </a>
	       </li>
           </ul>
       </nav>
   </div>
   
   <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <div class="row">
                <div class="jumbotron text-center" >
		    <form method = "post" class = "container">
		    <input type = "radio" Name = "Functional" Value = "NOFunctional" style = "display: none;" checked = "checked"/> <br>
		    <h3> Select the checkboxes that fit your interests </h3> <br>
		     <input type = "checkbox" Name = "Usage_1" Value = "NO" style = "display: none;" checked = "checked"/> <br>
		    <input type = "checkbox" Name = "Usage_2" Value = "NO" style = "display: none;" checked = "checked"/> <br>
		    <input type = "checkbox" Name = "Usage_3" Value = "NO" style = "display: none;" checked = "checked"/> <br>
		    <p> Do you prefer Declarative or Imperative languages? </p>
		    <input type = "radio" Name = "type" Value = "Declarative" d> Declarative <br>
		    <input type = "radio" Name = "type" Value = "Imperative" d> Imperative <br>
		    <input type = "radio" Name = "type" Value = "NO" style = "display: none;" checked = "checked"/> <br>
		    
		    <p> Do you like compiled or interpreted langauges better? </p>
		    <input type = "radio" Name = "process" Value  = "Compiled" d> Compiled <br>
		    <input type = "radio" Name = "process" Value = "Interpreted" d> Interpreted <br>
		    <input type = "radio" Name = "process" Value = "NO" style = "display: none;" checked = "checked"/> <br>		    
		    
		    <p> Do you want to use a functional language? </p>
		    <input type = "radio" Name = "Functional" Value = "Functional" > Functional <br>
		    <input type = "radio" Name = "Functional" Value = "NOFunctional" style = "display: none;" checked = "checked"/> <br>
		    
		    <p> Which kind of typing do you prefer? </p>
		    <input type = "radio" Name = "typing" Value = "Dynamic"d> Dynamic <br>
		    <input type = "radio" Name = "typing" Value = "Static" d> Static <br>
		    <input type = "radio" Name = "typing" Value = "NO" style = "display: none;" checked = "checked"/> <br>		    
		    
		    <p> Which type of VM are you interested in? </p>
		    <input type = "radio" Name = "VM" Value = "JVM" d> JVM <br>
		    <input type = "radio" Name = "VM" Value = "SQVM" d> SQVM <br>
		    <input type = "radio" Name = "VM" Value = "NO" style = "display: none;" checked = "checked"/> <br>		    
		    
		    
		    <p> What are you looking to do?</p>
		   
		    <input type = "checkbox" Name = "Usage_1" Value = "Game" d> Game<br>
		    <input type = "checkbox" Name = "Usage_2" Value = "MobileApp" d> Mobile App<br>
		    <!--<input type = "radio" Name = "Usage" Value ="InfoProcessing" d> Info Processing<br>-->
		    <input type = "checkbox" Name = "Usage_3" Value = "UtilityScripts"d> Utility Scripts<br>
		    <br>
		    
		    
		    <input type ="submit"  value= "Submit"> 
		    </form>
		</div>    
            </div>
        </div>
    </div>
</div>

</body>

</html>